*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
}
header{
    background-image: url(imagens/header.jpg);
    background-size: 100%, auto;
    background-position: center;
    height: 500px;
    text-align: center;
    color: black;
    font-size: 30px;
}
header img{
    display: none;
}

/*Centro da page*/

.centro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #4e4e4e;
    justify-content: space-around;
}
.img-centro{
    width: 300px;
    text-align: center;
    padding: 40px;
}
.img-centro img{
    border: 10px solid #747272;
}
.titulocentro{
    padding: 10px;
    font-weight: bolder;
    font-size: 25px;
}
.textocentro{
    font-weight: lighter;
}
/*Article*/

article{
    background: #747272;
}
.divisaoArtigo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.divisaoArtigo img{
    padding: 40px;
    border-radius: 400px;
}
.textoArtigo{
    padding:10px 30px; 
    margin-top: 70px;
    line-height: 1.6;
}
.textoArtigo p{
    padding-bottom: 30px;
    padding-right: 30px;
}
.textoArtigo h3{
    padding-bottom: 20px;
    font-style: oblique;
    font-weight: bold;
}
.border{
    margin: 0;
    border: 3px solid red;
}
 /*Footer*/

 footer{
     text-align: center;
     background-color: #4e4e4e;
 }
 footer p{
     padding-bottom: 10px;
 }
 footer p:hover{
     color: black;
  }
 footer a{
     color: aliceblue;
     text-decoration: none;
     margin-bottom: 20px;
 }
 footer a:hover{
     color: black;
 }
 /*media queries*/

 @media (max-width: 991.98px) {
     header{
         background: none;
         background-color: #383838;
         color: white;
     }
     header img{
         display: block;
         margin-bottom: 30px;
     }
     .divisaoArtigo{
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
     }
  }
 @media (max-width: 767.98px) {
       .divisaoArtigo img{
           width: 300px;
           height: 300px;
       }
  }
 @media (max-width: 300.98px) {
    .img-centro img{
        width: 200px;
        height: 200px;
    }
       .divisaoArtigo img{
           width: 200px;
           height: 200px;
       }
  }